/* _static/custom.css */
h2 {
  border-bottom: 2px solid var(--color-foreground-border);
  padding-bottom: 0.3em;
  margin-top: 2.5em;
}

h3 {
  border-left: 4px solid var(--color-brand-primary);
  padding-left: 0.6em;
}